@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html,
body {
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.loader {
    border: 6px solid #f1f1f1; 
    border-top: 6px solid #6A0DAD; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.7s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }